.storesComponent :global {
  .sectionHead {
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 42px;
      font-weight: 700;
      color: #e1e42a;
      margin-bottom: 18px;
    }

    p {
      font-size: 25px;
      font-weight: 600;
      line-height: 46px;
      color: #fff;
    }

    @media (max-width: 991px) {
      h2 {
        font-size: 35px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .heroSection {
    background-image: url("/images/store/bg.svg");
    background-repeat: no-repeat;
    background-position: 33% center;

    h1 {
      font-size: 55px;
      font-weight: 700;
      color: #e1e42a;
      margin-bottom: 29px;
    }

    p {
      font-size: 27px;
      font-weight: 600;
      line-height: 47px;
      color: #fff;
      margin-bottom: 56px;
    }

    .store_img {
      text-align: center;

      img {
        max-width: 100%;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        width: 168px;
        font-size: 22px;
        font-weight: 600;
        color: #e0e324;
        border-radius: 60px;
        border: 2px solid #e0e324;

        &.bg {
          background: #e0e324;
          color: #001014;
        }
      }
    }

    @media (max-width: 991px) {
      background-position: 50% center;

      h1 {
        font-size: 45px;
      }

      p {
        font-size: 20px;
      }
    }

    @media (max-width: 480px) {
      background-position: 50% 0%;

      h1 {
        font-size: 35px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .mainFeaturesSection {
    p {
      font-size: 27px;
      font-weight: 600;
      line-height: 47px;
      color: #fff;
      margin-bottom: 56px;
    }

    .featureBox {
      width: 613px;
      position: relative;

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }

      .bg {
        background: #032932 !important;
        position: relative;
        z-index: 1;
        border-radius: 25px;
        padding: 14px 28px;

        .content {
          max-width: 400px;

          h3 {
            font-size: 30px;
            font-weight: 700;
            color: #e1e42a;
            margin-bottom: 14px;
          }

          p {
            font-size: 20px;
            margin-bottom: 16px;
          }

          ul li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 18px;
            font-size: 20px;
            font-weight: 600;
            color: #ffffff8f;

            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }
        }

        .img {
          position: absolute;
          left: -34px;
          bottom: -6.5px;
        }
      }

      &:nth-of-type(2) {
        align-self: flex-end;

        .img {
          left: -60px;
          bottom: 0;
        }
      }

      &:last-of-type {
        .img {
          left: -110px;
          bottom: calc(50% - 150px);
        }
      }

      @media (max-width: 830px) {
        width: 100%;

        .bg {
          width: 100%;
          flex-direction: column;
          display: flex;
          gap: 40px;
          padding: 0px;

          .content {
            max-width: 100%;
            padding: 20px;
          }

          .img {
            position: static;
            text-align: center;
            transform: translateY(6px);
          }
        }
      }
    }
  }

  .servicesSection {
    .sectionHead {
      text-align: center;

      h2 {
        font-size: 35px;
        font-weight: 700;
        color: #e1e42a;
        margin-top: 82px;
      }
    }

    .MuiGrid2-root {
      display: flex;
      > div {
        align-content: stretch;

        .service {
          height: 100%;
          max-width: 258px;
          position: relative;

          .content {
            height: 100%;
            background: #032932 !important;
            backdrop-filter: blur(10px);
            border-radius: 25px;
            position: relative;
            z-index: 1;
            padding: 6px 12px;
            text-align: center;

            .service_price {
              height: 38px;
              min-width: 95px;
              max-width: fit-content;
              margin: 0 auto;
              margin-inline-end: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #021d24ab;
              font-size: 22px;
              font-weight: 22px;
              font-weight: 700;
              color: #e1e42a;
              border-radius: 93px;
            }

            .img {
              margin: 6px 0px 1px;
            }

            h4 {
              color: #fff;
              font-size: 22px;
              font-weight: 700;
              line-height: 44px;
              margin-bottom: 10px;
            }

            p {
              font-weight: 300;
              color: #ffffffc2;
            }
          }

          &::before {
            content: "";
            background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
            top: -1.5px;
            left: -1.5px;
            bottom: -1.5px;
            right: -1.5px;
            position: absolute;
            z-index: -1;
            border-radius: 25px;
          }

          &:hover {
            &::before {
              background-image: linear-gradient(81.07deg, #fad414 53.33%, #80660e 93.73%);
            }
          }
        }
      }
    }
  }

  .templatesSection {
    .swiper {
      margin-bottom: 0px !important;

      .swiper-wrapper {
        align-items: center;

        .swiper-slide {
          width: 221px;

          .product {
            position: relative;

            .content {
              display: flex;
              justify-content: center;
              flex-direction: column;
              background: #032932 !important;
              backdrop-filter: blur(10px);
              border-radius: 25px;
              position: relative;
              z-index: 1;
              padding: 10px;

              .img {
                height: 68px;
                display: flex;
                justify-content: center;

                img {
                  height: 100%;
                  width: 100%;
                }
              }

              h4 {
                font-size: 12px;
                font-weight: 600;
                line-height: 44px;
                color: #fff;
                margin-bottom: 10px;
              }

              ul {
                display: flex;
                align-items: center;
                gap: 4px;

                li {
                  list-style: none;
                }
              }
            }

            &::before {
              content: "";
              background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
              top: -1.5px;
              left: -1.5px;
              bottom: -1.5px;
              right: -1.5px;
              position: absolute;
              z-index: -1;
              border-radius: 25px;
            }
          }
        }

        .swiper-slide-prev,
        .swiper-slide-next {
          .product {
            .content {
              padding: 18px;

              h4 {
                font-size: 17px;
              }

              .img {
                height: 128px;
              }
            }
          }
        }

        .swiper-slide-active {
          .product {
            .content {
              .img {
                height: 256px;
                margin-top: -80px;
              }

              h4 {
                font-size: 23px;
              }
            }

            &::before {
              background: linear-gradient(81.07deg, #f8feff 53.33%, #7a7a7a 93.73%);
            }

            &::after {
              display: block;
              content: "";
              background: url("/icons/cartIcon.svg");
              background-repeat: no-repeat;
              height: 50px;
              width: 50px;
              position: absolute;
              bottom: -25px;
              left: 20px;
              z-index: 2;
            }
          }
        }
      }
    }

    a {
      display: block;
      width: fit-content;
      margin: 0 auto;
      font-size: 19px;
      font-weight: 600;
      line-height: 47px;
      color: #e1e42a;
      text-decoration: underline;
    }
  }

  .featuresSection {
    ul li {
      min-height: 62px;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px 0px;
      font-size: 20px;
      font-weight: 600;
      color: #fff;

      &:not(:last-of-type) {
        border-bottom: 1px solid #808080;
      }
    }

    h3 {
      font-size: 25px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 34px;
    }

    .packageCard {
      max-width: 398px;
      padding: 20px 36px;

      .packageHead {
        margin-bottom: 48px;

        h4 {
          font-size: 40px;
          font-weight: 700;
          color: #fff;
          text-align: center;
          margin-bottom: 52px;
        }

        button {
          display: block;
          height: 56px;
          width: 100%;
          border: 2px solid #e1e42a;
          background: transparent;
          border-radius: 60px;
          font-size: 22px;
          font-weight: 600;
          color: #e1e42a;
          margin-bottom: 32px;
        }

        a {
          display: block;
          width: fit-content;
          margin: 0 auto;
          font-size: 19px;
          font-weight: 600;
          color: #e1e42a;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 3.5px;
            background: #e1e42a;
          }
        }
      }

      ul li {
        justify-content: center;
      }

      &.gold {
        background: #032932;
        border-radius: 25px;
        position: relative;

        .content {
          position: relative;
          z-index: 1;
        }

        &::before {
          content: "";
          background: linear-gradient(81.07deg, #fad414 53.33%, #80660e 93.73%);
          top: -1.5px;
          left: -1.5px;
          bottom: -1.5px;
          right: -1.5px;
          position: absolute;
          z-index: -1;
          border-radius: 25px;
        }

        button {
          color: #001014;
          background: #e0e324;
        }
      }
    }

    @media (max-width: 991px) {
      .packageCard {
        padding: 20px 16px;

        .packageHead {
          ul li {
            font-size: 18px;
          }

          h4 {
            font-size: 35px;
          }
        }
      }
    }

    @media (max-width: 480px) {
      .packageCard {
        padding: 20px 12px;

        ul li {
          font-size: 16px;
        }

        .packageHead {
          h4 {
            font-size: 30px;
          }
        }
      }
    }
  }

  .deliverySection {
    .delivery_img {
      text-align: center;
    }

    h2 {
      font-size: 42px;
      font-weight: 700;
      color: #e1e42a;
      margin-bottom: 20px;
    }

    p {
      font-size: 25px;
      font-weight: 600;
      color: #fff;

      &:first-of-type {
        margin-bottom: 16px;
      }
    }

    @media (max-width: 991px) {
      h2 {
        font-size: 35px;
      }

      p {
        font-size: 20px;
      }
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .paymentSection {
    h3 {
      font-size: 35px;
      font-weight: 700;
      line-height: 52.5px;
      color: #e1e42a;
    }

    h2 {
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      color: #e1e42a;
      margin-bottom: 30px;
    }

    p {
      font-size: 23px;
      font-weight: 600;
      line-height: 44px;
      color: #fff;
    }

    .count {
      position: relative;

      .content {
        height: 223px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #032932 !important;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        z-index: 1;

        h4 {
          font-size: 22px;
          font-weight: 600;
          line-height: 44px;
          color: #e1e42a;
        }

        span {
          direction: ltr;
          font-size: 30px;
          font-weight: 600;
          line-height: 44px;
          color: #fff;
        }
      }

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }
    }

    @media (max-width: 991px) {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: 20px;
      }
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 35px;
      }

      p {
        font-size: 18px;
      }

      .count {
        width: 100%;

        .content {
          width: 100%;
        }
      }
    }
  }

  .expansionSecton {
    .img {
      img {
        width: 100%;
      }
    }

    .expansionCard {
      position: relative;

      .content {
        background: #032932 !important;
        border-radius: 25px;
        backdrop-filter: blur(10px);
        position: relative;
        z-index: 1;
        padding: 24px 28px;

        h3 {
          font-size: 25px;
          font-weight: 600;
          line-height: 33px;
          color: #fff;
          margin-bottom: 16px;
        }

        ul li {
          display: flex;
          align-items: flex-start;
          gap: 12px;
          list-style: none;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          color: #ffffff8f;

          &:first-of-type {
            margin-bottom: 16px;
          }

          &::before {
            content: "";
            flex-shrink: 0;
            display: block;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: #e1e42a;
            margin-top: 10px;
          }
        }
      }

      &:first-of-type {
        margin-bottom: 30px;
      }

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }
    }

    @media (max-width: 991px) {
      .expansionCard {
        .content {
          h3 {
            font-size: 20px;
          }

          ul li {
            font-size: 18px;
          }
        }
      }
    }

    @media (max-width: 480px) {
      .expansionCard {
        .content {
          h3 {
            font-size: 18px;
          }

          ul li {
            font-size: 16px;
          }
        }
      }
    }
  }

  .topServicesSecton {
    .sectionHead {
      text-align: start;
      margin-bottom: 35px;
    }

    .img {
      text-align: center;

      img {
        max-width: 100%;
      }

      &.start {
        text-align: start;
      }
    }

    ul li {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      list-style: none;
      font-size: 20px;
      font-weight: 600;
      line-height: 44px;
      color: #fff;
      margin-bottom: 12px;

      &::before {
        content: "";
        flex-shrink: 0;
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #e1e42a;
        margin-top: 16px;
      }
    }

    @media (max-width: 991px) {
      ul li {
        font-size: 18px;
      }
    }

    @media (max-width: 480px) {
      ul li {
        font-size: 16px;
      }
    }
  }
}
