.storesComponent :global {
  .sectionHead {
    text-align: center;

    h2 {
      font-size: 42px;
      font-weight: 700;
      color: #e1e42a;
      margin-bottom: 18px;
    }

    p {
      font-size: 25px;
      font-weight: 600;
      line-height: 46px;
      color: #fff;
    }
  }

  .heroSection {
    background-image: url("/images/store/bg.svg");
    background-repeat: no-repeat;
    background-position: 33% center;

    h1 {
      font-size: 55px;
      font-weight: 700;
      color: #e1e42a;
      margin-bottom: 29px;
    }

    p {
      font-size: 27px;
      font-weight: 600;
      line-height: 47px;
      color: #fff;
      margin-bottom: 56px;
    }

    .store_img {
      text-align: center;
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        width: 168px;
        font-size: 22px;
        font-weight: 600;
        color: #e0e324;
        border-radius: 60px;
        border: 2px solid #e0e324;

        &.bg {
          background: #e0e324;
          color: #001014;
        }
      }
    }
  }

  .mainFeaturesSection {
    p {
      font-size: 27px;
      font-weight: 600;
      line-height: 47px;
      color: #fff;
      margin-bottom: 56px;
    }

    .featureBox {
      width: 613px;
      position: relative;

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }

      .bg {
        background: #032932 !important;
        position: relative;
        z-index: 1;
        border-radius: 25px;
        padding: 14px 28px;

        .content {
          max-width: 400px;

          h3 {
            font-size: 30px;
            font-weight: 700;
            color: #e1e42a;
            margin-bottom: 14px;
          }

          p {
            font-size: 20px;
            margin-bottom: 16px;
          }

          ul li {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 18px;
            font-size: 20px;
            font-weight: 600;
            color: #ffffff8f;

            &:not(:last-of-type) {
              margin-bottom: 20px;
            }
          }
        }

        .img {
          position: absolute;
          left: -34px;
          bottom: -6.5px;
        }
      }

      &:nth-of-type(2) {
        align-self: flex-end;

        .img {
          left: -60px;
          bottom: 0;
        }
      }

      &:last-of-type {
        .img {
          left: -110px;
          bottom: calc(50% - 150px);
        }
      }
    }
  }

  .plansSection {
    .tabs {
      .MuiTabs-flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        width: 208px;
        margin: 0 auto;
        background: #124651;
        border-radius: 123px;
        padding: 4px;

        button {
          display: block;
          min-height: 44px;
          flex: 1;
          padding: 0px;
          border-radius: 123px;
          font-size: 22px;
          font-weight: 600;
          color: #cdcdcd;

          span {
            display: block;
            height: 100%;
          }

          &.Mui-selected {
            color: #001014;
          }
        }
      }
    }

    .planCard {
      max-width: 398px;
      text-align: center;
      position: relative;
      margin: 0 auto;

      .content {
        min-height: 730px;
        background: #032932 !important;
        backdrop-filter: blur(10px);
        position: relative;
        z-index: 1;
        border-radius: 25px;
        padding: 48px 36px;

        h4 {
          font-size: 32px;
          font-weight: 700;
          color: #e1e42a;
          margin-bottom: 26px;
        }

        .plan_price {
          font-size: 33px;
          font-weight: 600;
          color: #fff;
        }

        .oldPrice {
          width: fit-content;
          font-size: 25px;
          font-weight: 600;
          color: #ffffff59;
          margin: 23px auto;
          position: relative;

          &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: #ffffffad;
            position: absolute;
            top: 50%;
            left: 0;
          }
        }

        ul {
          margin-bottom: 28px;

          li {
            display: flex;
            align-items: center;
            gap: 14px;
            text-align: start;
            font-size: 20px;
            font-weight: 600;
            color: #fff;
            list-style: none;
            margin-bottom: 14px;
          }
        }

        p {
          max-width: 70%;
          margin: 0 auto;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
        }

        button {
          display: block;
          height: 56px;
          width: 100%;
          border: 2px solid #e1e42a;
          background: transparent;
          border-radius: 60px;
          font-size: 22px;
          font-weight: 600;
          color: #e1e42a;
          margin-bottom: 32px;
        }

        a {
          font-size: 19px;
          font-weight: 600;
          color: #e1e42a;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 3.5px;
            background: #e1e42a;
          }
        }
      }

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }

      &.custom {
        .content {
          height: 100%;
          padding: 76px 36px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      &.gold {
        &::before {
          background: linear-gradient(81.07deg, #fad414 53.33%, #80660e 93.73%);
        }

        button {
          color: #001014;
          background: #e0e324;
        }
      }
    }
  }

  .servicesSection {
    .sectionHead {
      text-align: center;

      h2 {
        font-size: 35px;
        font-weight: 700;
        color: #e1e42a;
        margin-top: 82px;
      }
    }

    .service {
      height: 100%;
      max-width: 258px;
      position: relative;

      .content {
        height: 100%;
        background: #032932 !important;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        position: relative;
        z-index: 1;
        padding: 6px 12px;
        text-align: center;

        .service_price {
          height: 38px;
          min-width: 95px;
          max-width: fit-content;
          margin: 0 auto;
          margin-inline-end: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #021d24ab;
          font-size: 22px;
          font-weight: 22px;
          font-weight: 700;
          color: #e1e42a;
          border-radius: 93px;
        }

        .img {
          margin: 6px 0px 1px;
        }

        h4 {
          color: #fff;
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 10px;
        }

        p {
          font-weight: 300;
          color: #ffffffc2;
        }
      }

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }
    }
  }

  .templatesSection {
    .swiper {
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      .product {
        width: 137px;
        .content {
          display: flex;
          justify-content: center;
          flex-direction: column;
          background: #032932 !important;
          backdrop-filter: blur(10px);
          border-radius: 25px;
          position: relative;
          z-index: 1;
          padding: 10px;

          .img {
            height: 68px;

            img {
              height: 100%;
              width: 100%;
            }
          }

          h4 {
            font-size: 17px;
            font-weight: 600;
            line-height: 44px;
            color: #fff;
            margin-bottom: 10px;
          }

          ul {
            display: flex;
            align-items: center;
            gap: 4px;

            li {
              list-style: none;
            }
          }
        }
      }
    }

    .swiper-slide-prev,
    .swiper-slide-next {
      .product {
        width: 214px;
        .content {
          padding: 18px;

          .img {
            max-height: 128px;
          }
        }
      }
    }

    .swiper-slide-active {
      .product {
        width: 296px;

        .content .img {
          height: 256px;
        }
      }
    }
  }

  .featuresSection {
    ul li {
      min-height: 62px;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px 0px;
      font-size: 20px;
      font-weight: 600;
      color: #fff;

      &:not(:last-of-type) {
        border-bottom: 1px solid #808080;
      }
    }

    h3 {
      font-size: 25px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 34px;
    }

    .packageCard {
      max-width: 398px;
      padding: 20px 36px;

      .packageHead {
        margin-bottom: 48px;

        h4 {
          font-size: 40px;
          font-weight: 700;
          color: #fff;
          text-align: center;
          margin-bottom: 52px;
        }

        button {
          display: block;
          height: 56px;
          width: 100%;
          border: 2px solid #e1e42a;
          background: transparent;
          border-radius: 60px;
          font-size: 22px;
          font-weight: 600;
          color: #e1e42a;
          margin-bottom: 32px;
        }

        a {
          display: block;
          width: fit-content;
          margin: 0 auto;
          font-size: 19px;
          font-weight: 600;
          color: #e1e42a;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            bottom: 3.5px;
            background: #e1e42a;
          }
        }
      }

      ul li {
        justify-content: center;
      }

      &.gold {
        background: #032932;
        border-radius: 25px;
        position: relative;

        .content {
          position: relative;
          z-index: 1;
        }

        &::before {
          content: "";
          background: linear-gradient(81.07deg, #fad414 53.33%, #80660e 93.73%);
          top: -1.5px;
          left: -1.5px;
          bottom: -1.5px;
          right: -1.5px;
          position: absolute;
          z-index: -1;
          border-radius: 25px;
        }

        button {
          color: #001014;
          background: #e0e324;
        }
      }
    }
  }

  .deliverySection {
    .delivery_img {
      text-align: center;
    }

    h2 {
      font-size: 42px;
      font-weight: 700;
      color: #e1e42a;
      margin-bottom: 20px;
    }

    p {
      font-size: 25px;
      font-weight: 600;
      color: #fff;

      &:first-of-type {
        margin-bottom: 16px;
      }
    }
  }

  .paymentSection {
    h3 {
      font-size: 35px;
      font-weight: 700;
      line-height: 52.5px;
      color: #e1e42a;
    }

    h2 {
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      color: #e1e42a;
      margin-bottom: 30px;
    }

    p {
      font-size: 23px;
      font-weight: 600;
      line-height: 44px;
      color: #fff;
    }

    .count {
      position: relative;

      .content {
        height: 223px;
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #032932 !important;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        z-index: 1;

        h4 {
          font-size: 22px;
          font-weight: 600;
          line-height: 44px;
          color: #e1e42a;
        }

        span {
          direction: ltr;
          font-size: 30px;
          font-weight: 600;
          line-height: 44px;
          color: #fff;
        }
      }

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }
    }
  }

  .expansionSecton {
    .img {
      img {
        width: 100%;
      }
    }
    .expansionCard {
      position: relative;

      .content {
        background: #032932 !important;
        border-radius: 25px;
        backdrop-filter: blur(10px);
        position: relative;
        z-index: 1;
        padding: 24px 28px;

        h3 {
          font-size: 25px;
          font-weight: 600;
          line-height: 33px;
          color: #fff;
          margin-bottom: 16px;
        }

        ul li {
          display: flex;
          align-items: flex-start;
          gap: 12px;
          list-style: none;
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          color: #ffffff8f;

          &:first-of-type {
            margin-bottom: 16px;
          }

          &::before {
            content: "";
            flex-shrink: 0;
            display: block;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background: #e1e42a;
            margin-top: 10px;
          }
        }
      }

      &:first-of-type {
        margin-bottom: 30px;
      }

      &::before {
        content: "";
        background-image: linear-gradient(81.07deg, #22373c 53.33%, #18292d 93.73%);
        top: -1.5px;
        left: -1.5px;
        bottom: -1.5px;
        right: -1.5px;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
      }
    }
  }

  .topServicesSecton {
    .sectionHead {
      text-align: start;
      margin-bottom: 35px;
    }

    .img {
      text-align: center;
    }

    ul li {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      list-style: none;
      font-size: 20px;
      font-weight: 600;
      line-height: 44px;
      color: #fff;
      margin-bottom: 12px;

      &::before {
        content: "";
        flex-shrink: 0;
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background: #e1e42a;
        margin-top: 16px;
      }
    }
  }
}
